/* Orders.css */
.orders-page {
  padding: 20px;
}

.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orders-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Change the color to your preference */
}
.order-box {
  /* border: 1px solid #ddd; */
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.order-box p {
  margin: 5px 0;
}

.order-products {
  list-style: none;
  padding: 0;
}

.product-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.product-quantity {
  margin-left: 10px;
}

.product-name {
  font-weight: bold;
}

.product-image {
  max-width: 100px;
  max-height: 100px;
}
