/* Navbar styling */
header {
  background-color: #3498db; /* Light blue background color */
  color: #fff; /* Text color */
  padding: 10px 0; /* Vertical padding */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 24px; /* Adjust the font size as needed */
  text-transform: uppercase; /* Uppercase text */
  font-weight: 600; /* Bold font */
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff; /* Link text color */
  margin: 0 15px; /* Spacing between links */
  font-size: 16px; /* Adjust the font size as needed */
}

nav a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Logout button styling */
button {
  background-color: #e74c3c; /* Red color for the logout button */
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-left: 15px; /* Spacing from the last link */
}

button:hover {
  background-color: #c0392b; /* Darker red on hover */
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 4px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
}

.search-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-box button:hover {
  background-color: #0056b3;
}
