.seller-list-page {
  text-align: center;
}

.lists-container {
  display: flex;
  justify-content: space-between;
}

.unverified-box,
.approved-box {
  width: 48%; /* Adjust the width as needed */
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.seller-item {
  margin-bottom: 10px;
}

.verify-button {
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verify-button:hover {
  background-color: #0056b3;
}
